<a href="https://colab.research.google.com/github/Daniel-AlCa/Sales-Predictions/blob/main/sales_predictions_for_alimentary_industry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Semana1
import pandas as pd
filename = "/content/drive/MyDrive/Coding Dojo/Codificación de Coding Dojo/Proyecto1/sales_predictions.csv"

df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [53]:
#Semana2
#1) ¿Cuántas filas y columnas?
print("1-Numero de filas y columnas:" , df.shape)
print("")

#2) ¿Cuáles son los tipos de datos en cada variable?
print('2-Los tipos de datos en cada variable son los siguientes:')
print("")
df.dtypes

#3)¿Hay duplicados? Si es el caso, eliminen algunos duplicados.
print("3-Número de duplicados:",df.duplicated().sum())
print("")

#4)Identifiquen los valores faltantes.
print("4-Se aprecian Valores Faltantes en las columans Item_Weight y Outlet_Size")
print("")

print(df.isna().sum())
print("")

#5) Decidan cómo abordar los valores faltantes y cómo hacerlo. (Esto requiere sus criterios, así que expliquen su elección).

print("5-La Columna Item_Weight se rellenara con el promedio actual de la columna ya que de esta manera se mantendrían los valores estadísticos generales:")
print("")
meanweight = df['Item_Weight'].mean()
df['Item_Weight'].fillna(meanweight, inplace=True)
print("Se reemplza con el valor promedio de:" ,round(df['Item_Weight'].mean(),2))
print("Valores vaciós en Item_Weight:",df['Item_Weight'].isna().sum())
print("")
print('''En la Columna Outlet_Size se eliminaran las filas con datos faltantes ya que no considero apropiado inventar tantos datos de manera
aleatoria alterando el analisis:''')

df.dropna(subset=['Outlet_Size'], inplace=True)

print("Valores vaciós en Outlet_Size:",df['Outlet_Size'].isna().sum())
print('')
#df.groupby(['Outlet_Size',])['Outlet_Size'].count()

#6) Confirmen que no hay valores faltantes después de abordarlos.
print("6-Se confirma que no hay valores faltantes: ")
print('')
print(df.isna().sum())
print('')
#7)Encuentren y arreglen alguna categoría inconsistente de datos (example: fix cat, Cat, and cats so that they are consistent) 
print('7-Buscando valores incosistentes:')
print(df.nunique())
print("Se apreciaron y corregieron valores incosistentes en Item_Fat_Content")

df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
print(df['Item_Fat_Content'].value_counts())

#8) Para cualquier columna numérica, obtengan las estadísticas resumidas para cada uno (mínimo, máximo y media)
print('')
print("8-Estadísticas resumidas para variables numércias:")
df.describe()

1-Numero de filas y columnas: (6113, 12)

2-Los tipos de datos en cada variable son los siguientes:

3-Número de duplicados: 0

4-Se aprecian Valores Faltantes en las columans Item_Weight y Outlet_Size

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

5-La Columna Item_Weight se rellenara con el promedio actual de la columna ya que de esta manera se mantendrían los valores estadísticos generales:

Se reemplza con el valor promedio de: 12.89
Valores vaciós en Item_Weight: 0

En la Columna Outlet_Size se eliminaran las filas con datos faltantes ya que no considero apropiado inventar tantos datos de manera
aleatoria alterando el analisis:
Valores vaciós en Outlet_Size: 0

6-Se confirma que no hay valores faltantes:

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7-Buscando valores incosistentes:
Item_Identifier              1555
Item_Weight                   410
Item_Fat_Content                2
Item_Visibility              5641
Item_Type                      16
Item_MRP                     4694
Outlet_Identifier               7
Outlet_Establishment_Year       6
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3056
dtype: int64
Se apreciaron y corregieron valores incosistentes en Item_Fat_Content
Low Fat    3955
Regular    2158
Name: Item_Fat_Content, dtype: int64

8-Estadísticas resumidas para variables numércias:

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,6113.000000,6113.000000,6113.000000,6113.000000,6113.000000
mean,12.888856,0.064505,141.256859,1995.794373,2322.688445
std,4.073798,0.050092,62.229701,8.842615,1741.592093
min,4.555000,0.000000,31.290000,1985.000000,33.955800
25%,9.800000,0.026681,94.012000,1987.000000,974.731200
50%,12.857645,0.052811,143.178600,1997.000000,1928.156800
75%,15.700000,0.092834,185.892400,2004.000000,3271.075400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800